@use '../../settings/variables' as *;

.details{
  margin-top: 90px;
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: $color-black;

  &__logo{
    position: absolute;
    width: 40px;
    height: 25px;
    background-image: url('/assets/icons/batata.svg');
    top: -10px;
    left: calc(50% - 20px);
  }

  &__text{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;

    h2{
      margin-bottom: 20px;
      font-size: 2.4rem;
      font-weight: bold;
      line-height: 2.6rem;
    }

    p{
      margin-bottom: 20px;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.8rem;
      color: #808080;
    }
  }
}
