---
type Props = {
  className?: string;
  backgroundColor?: string;
};

const { backgroundColor, className } = Astro.props

---

<div class={`label ${backgroundColor} ${className}`}>
  <slot />
</div>