---
type Props = {
  title: string;
  body: string;
  icon: string;
}
---



<article class='card'>
  <span class='card__icon'></span>
  <p class='card__title'></p>
  <p class='card__body'></p>
</article>