---
type Props = {
  title: string;
  description: string;
  icon: string;
  className?: string;
}

const { title, description, icon, className } = Astro.props;
---



<article class={`card ${className}`}>s
  <span class={`${icon}`}></span>
  <p class='card__title'>{title}</p>
  <p class='card__body'>{description}</p>
</article>