---
import Card from '../components/Cards/Card.astro'
---

<section class="details">
  <span class="details__logo"></span>
  <div class="details__text">
    <h2 class="color--just-white">Creamos un producto sin comparación.</h2>
    <p>Confiable y diseñado para su uso diario.</p>
  </div>
  <section class="details__products-container">
    <!-- <Card /> -->
  </section>
</section>